:root {
  --primary: hsl(257, 40%, 49%);
  --primary-light: hsl(300, 69%, 71%);
  --fw-regular: 400;
  --fw-semibold: 600;
  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}
.footer {
  padding: 0.5rem;
}
.footer__attribution {
  font-size: 11px;
  text-align: center;
}
.footer__attribution-link {
  color: hsl(228, 45%, 44%);
}
